<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-dataencryption" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>DataEncryption</name>
	<author>Dilip Sarkar(dilipsarkar.info@gmail.com)</author>
	<license>BSD</license>
	<repo>https://github.com/dilipsarkar/DataEncryptionPlugin</repo>
    <issue>https://github.com/dilipsarkar/DataEncryptionPlugin/issues</issue>
	<js-module name="DataEncryption" src="www/DataEncryption.js">
		<clobbers target="DataEncryption" />
	</js-module>
	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="DataEncryption">
				<param name="android-package" value="DataEncryption" />
			</feature>
		</config-file>
		<config-file parent="/*" target="AndroidManifest.xml"></config-file>
		<source-file src="src/android/DataEncryption.java" target-dir="src/cordova-plugin-dataencryption/DataEncryption" />
        <source-file src="src/android/libs/libconceal.jar" target-dir="libs" />
        <source-file src="src/android/libs/conceal_android.jar" target-dir="libs" />
		<source-file src="src/android/libs/armeabi/libconceal.so" target-dir="libs/armeabi" />
        <source-file src="src/android/libs/armeabi-v7a/libconceal.so" target-dir="libs/armeabi-v7a" />
        <source-file src="src/android/libs/x86/libconceal.so" target-dir="libs/x86" />
		<source-file src="src/android/libs/arm64-v8a/libconceal.so" target-dir="libs/arm64-v8a" />
        <source-file src="src/android/libs/x86_64/libconceal.so" target-dir="libs/x86_64" />
	</platform>
</plugin>
